@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&family=Tenor+Sans&display=swap');

html {
    font-family: 'Tenor Sans', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(237, 237, 237);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.wrapper {
    width: 1024px;
    margin-left: 20px;
    margin-right: 20px;
}

/* --- */

header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h_h1{
    font-family: 'Raleway', sans-serif;
}

.h_a {
    display: none;
}

.h_nav {
    display: flex;
}

.hn_a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
}

.h_ai {
    height: 30px;
}

/* --- */

.html_login, .html_dashboard {
    height: 100%;
}

.body_login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_login {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.form_login h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}

.form_login input {
    border: none;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    outline: none;
    transition: 0.3s;
}

.form_login input:focus {
    border: none;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
}

.form_login p {
    font-size: 13px;
    text-align: justify;
    margin-bottom: 10px;
}

.form_login button {
    border: none;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.form_login button:hover {
    background-color: #000;
    color: #fff;
}

.form_login a {
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
    font-size: 15px;
}

.form_login a:hover {
    text-decoration: underline;
}

.dashboard_section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.content_reviews_section, .content_booking_section, .content_news_section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.content_reviews, .content_booking, .content_news {
    display: flex;
    flex-direction: column;
}

.cr_h3, .cb_h3, .cn_h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.cr_active, .cr_arhive {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.cra_items, .cd_items {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.cra_item, .cd_item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.crai_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.crai_button {
    display: flex;
}

.craib_up, .craib_down {
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.craib_up {
    border-color: rgb(60, 177, 62);
    color: rgb(60, 177, 62);
}

.craib_down {
    border-color: rgb(177, 60, 60);
    color: rgb(177, 60, 60);
}

.cb_book {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.content_news {
    width: 350px;
}

.cn_input {
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.cn_input:focus {
    border-color: #000;
}

.button_news {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}