@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&family=Tenor+Sans&display=swap');

html {
    font-family: 'Tenor Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.wrapper {
    width: 1024px;
    margin-left: 20px;
    margin-right: 20px;
}

/* --- */

header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h_h1{
    font-family: 'Raleway', sans-serif;
}

.h_a {
    display: none;
}

.h_nav {
    display: flex;
}

.hn_a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
}

.h_ai {
    height: 30px;
}

/* --- */

.welcome_section {
    height: 500px;
    display: flex;
    justify-content: center;
    background-image: url(/img/1.png);
    background-size: 120%;
    background-position: center;
}

.welcome {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wt_h2 {
    font-size: 30px;
}

.wt_p {
    margin-top: 20px;
    font-size: 20px;
}

.w_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wi_texts {
    display: flex;
    align-items: center;
}

.wi_text {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.wi_a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-radius: 40px;
    background-color: #0871AC;
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 15px;
}

.wit_img {
    height: 40px;
}

.wit_p {
    margin-left: 10px;
    font-size: 25px;
}

/* -- */

.about_section {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.a_h3, .c_h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.a_p {
    font-size: 20px;
    margin-bottom: 20px;
}

.a_items {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.a_item {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ai_h4 {
    font-size: 18px;
}

.ai_img {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* --- */

.car_section {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.car {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.c_h3 {
    font-size: 25px;
    color: #000;
    margin-bottom: 20px;
}

.c_filter {
    display: flex;
}

.cf_p {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.cf_a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.c_cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.c_car {
    text-decoration: none;
    color: #000;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    text-align: center;
}

.cc_h4 {
    color: #000;
    font-size: 20px;
    margin-top: 10px;
}

/* --- */

.rates_section {
    display: flex;
    justify-content: center;
}

.rates {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.r_h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.r_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.r_item {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #0871AC;
    border-radius: 25px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}

.ri_h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.ri_p {
    margin-bottom: 10px;
}

.ri_h5 {
    margin-bottom: 10px;
    font-size: 20px;
}

.ri_h6 {
    margin-bottom: 10px;
    font-size: 17px;
}

/* --- */

.app_section {
    display: flex;
    justify-content: center;
}

.app {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.a_h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.a_info {
    display: flex;
    justify-content: flex-end;
}

.ain_img {
    height: 600px;
    position: absolute;
    left: 0;
}

.ain_text {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.aint_h4 {
    color: #478AC9;
    font-size: 20px;
    margin-bottom: 20px;
}

.aint_p {
    margin-bottom: 20px;
}

.aint_img {
    width: 256px;
    height: 50px;
}

/* --- */

.reviews_section {
    display: flex;
    justify-content: center;
}

.reviews {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.re_h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.re_item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rei_img {
    height: 100px;
    border-radius: 550px;
}

.rei_text {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-left: 20px;
}

/* --- */

.reviews_сreate_section {
    display: flex;
    justify-content: center;
}

.reviews_сreate {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.rc_h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.rc_form {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.rcf_input, .rcf_textarea, .rcf_section, .rcf_button {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border: none;
    border-radius: 25px;
    margin-bottom: 10px;
}

.rcf_textarea {
    height: 200px;
}

/* --- */

.news_section {
    display: flex;
    justify-content: center;
}

.news {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.n_h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.n_items {
    display: flex;
    justify-content: space-between;
}

.n_item {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 350px;
    font-size: 20px;
    color: #fff;
    background-image: url(/img/23.png);
    background-position: center;
    background-size: 120%;
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.n_item_1 {
    background-image: url(/img/23.png);
}

.n_item_2 {
    background-image: url(/img/24.png);
}

.n_item_3 {
    background-image: url(/img/25.png);
}

/* --- */

.booking_section {
    display: flex;
    justify-content: center;
}

.booking {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.b_h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.b_items {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.b_form {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.bf_input, .bf_select, .bf_button {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border: none;
    margin-bottom: 10px;
}

.b_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.bi_icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bi_img1 {
    height: 65px;
}

.bi_img2 {
    width: 220px;
    height: 70px;
}

/* --- */

footer {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* --- */

@media screen and (max-width:768px) {
    .h_nav, .ain_img {
        display: none;
    }

    .h_a {
        display: flex;
    }

    .welcome_section {
        height: 350px;
        background-size: 160%;
    }

    .wit_img {
        height: 30px;
    }

    .wit_p {
        font-size: 17px;
    }

    .a_item {
        width: 225px;
    }

    .r_items {
        margin-bottom: 0;
    }

    .r_item {
        margin-bottom: 40px;
    }

    .n_item {
        width: 150px;
        height: 200px;
        font-size: 15px;
    }

    .rei_text {
        width: 100%;
    }

    .a_info {
        justify-content: center;
    }
}

@media screen and (max-width:426px) {
    .wi_texts, .b_info, .f_h2 {
        display: none;
    }

    .welcome_section {
        background-size: 300%;
    }

    .a_p {
        text-align: justify;
    }

    .a_items {
        flex-direction: column;
        align-items: center;
    }

    .a_item {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .c_filter {
        font-size: 14px;
    }

    .ain_text, .rc_form, .b_form {
        width: 100%;
    }

    .n_item {
        width: 80px;
        height: 100px;
        font-size: 14px;
    }
}

@media screen and (max-width:320px) {
    .welcome_section {
        background-size: 400%;
    }

    .rei_img {
        display: none;
    }

    .c_filter {
        font-size: 10px;
    }

    .n_item {
        width: 50px;
        height: 100px;
        font-size: 10px;
    }
}