@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&family=Tenor+Sans&display=swap');

html {
    font-family: 'Tenor Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.wrapper {
    width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
}

header .header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header h1{
    font-family: 'Raleway', sans-serif;
}

header .header nav {
    display: flex;
}

header .header nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
}

.welcome_section {
    height: 500px;
    display: flex;
    justify-content: center;
    background-image: url(/img/1.png);
    background-size: 130%;
    background-position: center;
}

.ws_div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ws_div .wsd_text h2 {
    font-size: 30px;
}

.ws_div .wsd_text p {
    margin-top: 20px;
    font-size: 20px;
}

.ws_div .wsd_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ws_div .wsd_info .wsdi_text {
    display: flex;
    align-items: center;
}

.ws_div .wsd_info div {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.ws_div .wsd_info div img {
    height: 40px;
}

.ws_div .wsd_info div p {
    margin-left: 10px;
    font-size: 25px;
}

.ws_div .wsd_info a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-radius: 40px;
    background-color: #0871AC;
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 15px;
}

.about_section {
    display: flex;
    justify-content: center;
}

.about_section .as_div {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.about_section .as_div h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.about_section .as_div p {
    font-size: 20px;
    margin-bottom: 20px;
}

.about_section .as_div .asd_items {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about_section .as_div .asd_items div {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about_section .as_div .asd_items div h4 {
    font-size: 18px;
}

.about_section .as_div .asd_items div img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.car_section {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.car_section .cs_div {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.car_section .cs_div h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #000;
}

.car_section .cs_div .csd_filter {
    display: flex;
}

.car_section .cs_div .csd_filter p {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.car_section .cs_div .csd_filter a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.car_section .cs_div .csd_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.car_section .cs_div .csd_items div {
   width: 350px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 40px;
   text-align: center;
}

.car_section .cs_div .csd_items div h4{
    color: #000;
    font-size: 20px;
    margin-top: 10px;
}

.rates_section {
    display: flex;
    justify-content: center;
}

.rates_section .rs_div {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.rates_section .rs_div h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.rates_section .rs_div .rsd_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.rates_section .rs_div .rsd_items div {
    width: 320px;
    display: flex;
    flex-direction: column;
    background-color: #0871AC;
    border-radius: 25px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}

.rates_section .rs_div .rsd_items div h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.rates_section .rs_div .rsd_items div p {
    margin-bottom: 10px;
}

.rates_section .rs_div .rsd_items div h5 {
    margin-bottom: 10px;
    font-size: 20px;
}

.rates_section .rs_div .rsd_items div h6 {
    margin-bottom: 10px;
    font-size: 17px;
}

.app_section {
    display: flex;
    justify-content: center;
}

.app_section .as_div {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.app_section .as_div h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.app_section .as_div .asd_info {
    display: flex;
    justify-content: flex-end;
}

.app_section .as_div .asd_info .img_1 {
    height: 600px;
    position: absolute;
    left: 0;
}

.app_section .as_div .asd_info .asdi_text {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.app_section .as_div .asd_info .asdi_text h4 {
    color: #478AC9;
    font-size: 20px;
    margin-bottom: 20px;
}

.app_section .as_div .asd_info .asdi_text p {
    margin-bottom: 20px;
}

.app_section .as_div .asd_info .asdi_text img {
    width: 256px;
    height: 50px;
}

.reviews_section {
    display: flex;
    justify-content: center;
}

.reviews_section .res_div {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.reviews_section .res_div h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.reviews_section .resd_items .resd_item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.reviews_section .resd_items .resd_item img {
    height: 100px;
    border-radius: 550px;
}

.reviews_section .resd_items .resd_item div {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.reviews_сreate_section {
    display: flex;
    justify-content: center;
}

.reviews_сreate_section .rсs_div {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.reviews_сreate_section .rсs_div h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.reviews_сreate_section .rсs_div div {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.reviews_сreate_section .rсs_div div input, .reviews_сreate_section .rсs_div div textarea, .reviews_сreate_section .rсs_div div button {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border: none;
    border-radius: 25px;
    margin-bottom: 10px;
}

.reviews_сreate_section .rсs_div div textarea {
    height: 200px;
}

.news_section {
    display: flex;
    justify-content: center;
}

.news_section .ns_div {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.news_section .ns_div h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.news_section .ns_div .nsd_items {
    display: flex;
    justify-content: space-between;
}

.news_section .ns_div .nsd_items .nsd_item_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    font-size: 20px;
    color: rgb(122, 122, 122);
    background-image: url(/img/23.png);
    background-position: center;
    background-size: 120%;
    border-radius: 30px;
}

.news_section .ns_div .nsd_items .nsd_item_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    font-size: 20px;
    color: rgb(122, 122, 122);
    background-image: url(/img/24.png);
    background-position: center;
    background-size: 120%;
    border-radius: 30px;
}

.news_section .ns_div .nsd_items .nsd_item_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    font-size: 20px;
    color: rgb(122, 122, 122);
    background-image: url(/img/25.png);
    background-position: center;
    background-size: 120%;
    border-radius: 30px;
}

.booking_section {
    display: flex;
    justify-content: center;
}

.booking_section .bs_div {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.booking_section .bs_div h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.booking_section .bs_div div {
    width: 450px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.booking_section .bs_div div input {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border: none;
    border-radius: 25px;
    margin-bottom: 10px;
}